* {
  font-size: 18px;
  /* font-family: 'Barlow', sans-serif; */
  font-family: "Fraunces", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: aqua;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}
